In [39]:
import pandas as pd
import os

In [40]:
pwd = os.getcwd()

In [41]:
series_test = list(range(1, 100))
pd.Series(series_test)

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64

In [42]:
filepath = pwd + '/simple_csv.csv'
filepath

'/Users/rick/anaconda_scripts/python_basics/simple_csv.csv'

In [43]:
first_import = pd.read_csv(filepath)
first_import.head()

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832

In [44]:
first_import[['Column1','Column3']].count()

Column1    29
Column3    29
dtype: int64

In [45]:
first_import.rename(columns={
    'Column1': 'col1',
    'Column2': 'col2',
    'Column3': 'col3'
}, inplace=True)

In [46]:
first_import.head(3)

       col1      col2      col3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667

In [47]:
first_import

        col1      col2      col3
0   0.280925  0.910368  0.692982
1   0.719882  0.210024  0.761276
2   0.235752  0.059796  0.154667
3   0.603366  0.485614  0.013345
4   0.039985  0.236359  0.811832
5   0.015478  0.543641  0.112719
6   0.192540  0.409874  0.875082
7   0.380921  0.045468  0.515859
8   0.592471  0.786421  0.047249
9   0.072112  0.695694  0.409573
10  0.898072  0.070956  0.209020
11  0.722038  0.211985  0.324164
12  0.513517  0.091548  0.664279
13  0.436729  0.040322  0.548167
14  0.864039  0.963556  0.106398
15  0.724761  0.410422  0.587589
16  0.198926  0.245207  0.767356
17  0.748500  0.019264  0.046678
18  0.920639  0.212611  0.520463
19  0.452024  0.123660  0.847451
20  0.542977  0.265852  0.410926
21  0.355266  0.860616  0.589431
22  0.142688  0.406456  0.204095
23  0.850436  0.129426  0.719027
24  0.443476  0.388967  0.596924
25  0.467100  0.416908  0.098037
26  0.338536  0.935814  0.736899
27  0.942101  0.772005  0.441574
28  0.570130  0.780085  0.085592

In [48]:
first_import['second_new_col'] = True

In [49]:
first_import

        col1      col2      col3  second_new_col
0   0.280925  0.910368  0.692982            True
1   0.719882  0.210024  0.761276            True
2   0.235752  0.059796  0.154667            True
3   0.603366  0.485614  0.013345            True
4   0.039985  0.236359  0.811832            True
5   0.015478  0.543641  0.112719            True
6   0.192540  0.409874  0.875082            True
7   0.380921  0.045468  0.515859            True
8   0.592471  0.786421  0.047249            True
9   0.072112  0.695694  0.409573            True
10  0.898072  0.070956  0.209020            True
11  0.722038  0.211985  0.324164            True
12  0.513517  0.091548  0.664279            True
13  0.436729  0.040322  0.548167            True
14  0.864039  0.963556  0.106398            True
15  0.724761  0.410422  0.587589            True
16  0.198926  0.245207  0.767356            True
17  0.748500  0.019264  0.046678            True
18  0.920639  0.212611  0.520463            True
19  0.452024  0.123660  0.847451            True
20  0.542977  0.265852  0.410926            True
21  0.355266  0.860616  0.589431            True
22  0.142688  0.406456  0.204095            True
23  0.850436  0.129426  0.719027            True
24  0.443476  0.388967  0.596924            True
25  0.467100  0.416908  0.098037            True
26  0.338536  0.935814  0.736899            True
27  0.942101  0.772005  0.441574            True
28  0.570130  0.780085  0.085592            True

In [50]:
first_import['added_columns'] = first_import['col1'] + first_import['col2'] + first_import['col3']

In [51]:
first_import

        col1      col2      col3  second_new_col  added_columns
0   0.280925  0.910368  0.692982            True       1.884276
1   0.719882  0.210024  0.761276            True       1.691182
2   0.235752  0.059796  0.154667            True       0.450215
3   0.603366  0.485614  0.013345            True       1.102325
4   0.039985  0.236359  0.811832            True       1.088175
5   0.015478  0.543641  0.112719            True       0.671838
6   0.192540  0.409874  0.875082            True       1.477496
7   0.380921  0.045468  0.515859            True       0.942248
8   0.592471  0.786421  0.047249            True       1.426142
9   0.072112  0.695694  0.409573            True       1.177379
10  0.898072  0.070956  0.209020            True       1.178048
11  0.722038  0.211985  0.324164            True       1.258187
12  0.513517  0.091548  0.664279            True       1.269343
13  0.436729  0.040322  0.548167            True       1.025218
14  0.864039  0.963556  0.106398            True       1.933994
15  0.724761  0.410422  0.587589            True       1.722772
16  0.198926  0.245207  0.767356            True       1.211489
17  0.748500  0.019264  0.046678            True       0.814442
18  0.920639  0.212611  0.520463            True       1.653714
19  0.452024  0.123660  0.847451            True       1.423135
20  0.542977  0.265852  0.410926            True       1.219755
21  0.355266  0.860616  0.589431            True       1.805312
22  0.142688  0.406456  0.204095            True       0.753239
23  0.850436  0.129426  0.719027            True       1.698890
24  0.443476  0.388967  0.596924            True       1.429367
25  0.467100  0.416908  0.098037            True       0.982045
26  0.338536  0.935814  0.736899            True       2.011249
27  0.942101  0.772005  0.441574            True       2.155680
28  0.570130  0.780085  0.085592            True       1.435807

In [ ]:
first_import

       col1      col2      col3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832
5  0.015478  0.543641  0.112719
6  0.192540  0.409874  0.875082
7  0.380921  0.045468  0.515859
8  0.592471  0.786421  0.047249
9  0.072112  0.695694  0.409573

In [61]:
netflix = pd.read_csv(pwd + '/netflix_titles.csv')
netflix

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [62]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mshow_id      7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [63]:
netflix.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [64]:
netflix.corr()

              release_year
release_year           1.0

In [65]:
netflix['type'].unique()

array(['TV Show', 'Movie'], dtype=object)

In [66]:
singapore_movies = netflix[netflix['country'] == 'Singapore']

In [67]:
mature_rated_singapore = netflix[(netflix['country'] == 'Singapore') & (netflix['rating'] == 'TV-MA')]

In [68]:
mature_rated_singapore

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2093,s2094,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,"January 26, 2018",2018,TV-MA,61 min,Stand-Up Comedy,Stand-up comic Fakkah Fuzz mines cross-cultura...
2956,s2957,Movie,Imperfect,Steve Cheng,"Edwin Goh, Ian Fang Weijie, Phua Yida, Kimberl...",Singapore,"December 20, 2018",2012,TV-MA,95 min,"Action & Adventure, International Movies","After a brawl lands him in a Boys’ Home, a tee..."
3528,s3529,Movie,Lang Tong,Sam Loh,"William Lawandi, Angeline Yap, Vivienne Tseng,...",Singapore,"December 20, 2018",2015,TV-MA,82 min,"International Movies, Thrillers","After seducing a philandering con man, a rebel..."
4138,s4139,Movie,Miss J Contemplates Her Choice,Jason Lai,"Kit Chan, Xiang Yun, Bobby Tonelli, Shane Pow,...",Singapore,"December 20, 2018",2014,TV-MA,89 min,"Dramas, International Movies, Thrillers",The life of a radio talk-show host is turned u...
6949,s6950,TV Show,The Truth Seekers,NaN,"Chen Hanwei, Rebecca Lim, Desmond Tan, Yusuke ...",Singapore,"July 1, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A veteran cop forms an agency dedicated to sol...

In [69]:
netflix['computer_date'] = pd.to_datetime(netflix['date_added'])

In [70]:
netflix['computer_date'].dropna()

0      2020-08-14
1      2016-12-23
2      2018-12-20
3      2017-11-16
4      2020-01-01
          ...
7782   2020-10-19
7783   2019-03-02
7784   2020-09-25
7785   2020-10-31
7786   2020-03-01
Name: computer_date, Length: 7777, dtype: datetime64[ns]

In [71]:
from datetime import datetime as dt

In [72]:
netflix['computer_date'].fillna(dt(2020, 1, 1), inplace=True)

In [73]:
netflix

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01

In [74]:
netflix['unix_time'] = netflix['computer_date'].view(int)

In [75]:
netflix

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000

In [76]:
netflix['date_added'].str.split(', ', expand=True)

                 0     1
0        August 14  2020
1      December 23  2016
2      December 20  2018
3      November 16  2017
4        January 1  2020
...            ...   ...
7782    October 19  2020
7783       March 2  2019
7784  September 25  2020
7785    October 31  2020
7786       March 1  2020

[7787 rows x 2 columns]

In [77]:
netflix[['Date Part 1', 'Date Part 2']] = netflix['date_added'].str.split(', ', expand=True)
netflix

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Date Part 1,Date Part 2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020

In [78]:
netflix.rename(columns={
    'Date Year': 'Year'
}, inplace=True)

In [79]:
netflix

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Date Part 1,Date Part 2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020

In [80]:
netflix['cast'].fillna(value='no cast', inplace=True)

In [81]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mshow_id       7787 non-null   object
 1   type           7787 non-null   object
 2   title          7787 non-null   object
 3   director       5398 non-null   object
 4   cast           7787 non-null   object
 5   country        7280 non-null   object
 6   date_added     7777 non-null   object
 7   release_year   7787 non-null   int64
 8   rating         7780 non-null   object
 9   duration       7787 non-null   object
 10  listed_in      7787 non-null   object
 11  description    7787 non-null   object
 12  computer_date  7787 non-null   datetime64[ns]
 13  unix_time      7787 non-null   int64
 14  Date Part 1    7777 non-null   object
 15  Date Part 2    7777 non-null   object
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 973.5+ KB

In [82]:
netflix['genre_count'] = netflix['listed_in'].map(lambda x: len(x.split(',')))

In [83]:
unique_genres = netflix['listed_in'].unique()

In [84]:
netflix_movies_by_country = netflix.groupby('country')['mshow_id'].count().reset_index()

In [85]:
netflix_movies_by_country.rename(columns={
    'mshow_id': 'show_id'
}, inplace=True)

In [86]:
netflix_movies_by_country.sort_values(by='show_id', ascending=False)

                               country  show_id
549                      United States     2555
229                              India      923
462                     United Kingdom      397
291                              Japan      226
394                        South Korea      183
..                                 ...      ...
252  Indonesia, South Korea, Singapore        1
253          Indonesia, United Kingdom        1
254           Indonesia, United States        1
255                       Iran, France        1
680                           Zimbabwe        1

[681 rows x 2 columns]

In [87]:
second_dataset = pd.read_csv(pwd + '/netflix_titles_second.csv')

In [88]:
second_dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
349,s350,TV Show,Ainori Love Wagon: Asian Journey,NaN,"Becky, Audrey, Mayuko Kawakita, Shimon Okura",Japan,28-Mar-19,2018,TV-MA,2 Seasons,"International TV Shows, Reality TV, Romantic T...",Seven men and women board a pink bus in search...
350,s351,TV Show,Ainsley Eats the Streets,NaN,Ainsley Harriott,United Kingdom,12-Jul-19,2014,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Celebrity chef Ainsley Harriott embarks on a j...
351,s352,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...
352,s353,Movie,Airplane Mode,César Rodrigues,"Larissa Manoela, André Luiz Frambach, Erasmo C...",United States,23-Jan-20,2020,TV-PG,97 min,"Comedies, International Movies, Romantic Movies","When Ana, an influencer, crashes her car while..."
353,s354,Movie,Aisa Yeh Jahaan,Biswajeet Bora,"Palash Sen, Ira Dubey, Yashpal Sharma, Tinnu A...",India,15-Oct-17,2015,TV-14,127 min,"Dramas, Independent Movies, International Movies","During a vacation with her parents, away from ..."

In [89]:
new_dataset = pd.concat([netflix, second_dataset])

In [90]:
new_dataset

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Date Part 1,Date Part 2,genre_count,show_id
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1.597363e+18,August 14,2020,3.0,NaN
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1.482451e+18,December 23,2016,2.0,NaN
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1.545264e+18,December 20,2018,2.0,NaN
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1.510790e+18,November 16,2017,3.0,NaN
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1.577837e+18,January 1,2020,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,NaN,TV Show,Ainori Love Wagon: Asian Journey,NaN,"Becky, Audrey, Mayuko Kawakita, Shimon Okura",Japan,28-Mar-19,2018,TV-MA,2 Seasons,"International TV Shows, Reality TV, Romantic T...",Seven men and women board a pink bus in search...,NaT,NaN,NaN,NaN,NaN,s350
350,NaN,TV Show,Ainsley Eats the Streets,NaN,Ainsley Harriott,United Kingdom,12-Jul-19,2014,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Celebrity chef Ainsley Harriott embarks on a j...,NaT,NaN,NaN,NaN,NaN,s351
351,NaN,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...,NaT,NaN,NaN,NaN,NaN,s352
352,NaN,Movie,Airplane Mode,César Rodrigues,"Larissa Manoela, André Luiz Frambach, Erasmo C...",United States,23-Jan-20,2020,TV-PG,97 min,"Comedies, International Movies, Romantic Movies","When Ana, an influencer, crashes her car while...",NaT,NaN,NaN,NaN,NaN,s353
353,NaN,Movie,Aisa Yeh Jahaan,Biswajeet Bora,"Palash Sen, Ira Dubey, Yashpal Sharma, Tinnu A...",India,15-Oct-17,2015,TV-14,127 min,"Dramas, Independent Movies, International Movies","During a vacation with her parents, away from ...",NaT,NaN,NaN,NaN,NaN,s354

In [92]:
netflix_merged = pd.merge(left=new_dataset, right=netflix_movies_by_country, how='inner', left_on=['country'], right_on=['country'])

In [93]:
netflix_merged

,mshow_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Date Part 1,Date Part 2,genre_count,show_id_x,show_id_y
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1.597363e+18,August 14,2020,3.0,NaN,72
1,s209,Movie,A new Capitalism,NaN,no cast,Brazil,"June 12, 2018",2017,TV-14,76 min,"Documentaries, International Movies",Entrepreneurs worldwide explore alternatives t...,2018-06-12,1.528762e+18,June 12,2018,2.0,NaN,72
2,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...,2020-11-11,1.605053e+18,November 11,2020,2.0,NaN,72
3,s321,Movie,Afonso Padilha: Classless,"Junior Carelli, Rudge Campos",Afonso Padilha,Brazil,"September 3, 2020",2020,TV-MA,63 min,Stand-Up Comedy,Brazilian comedian Afonso Padilha dives into h...,2020-09-03,1.599091e+18,September 3,2020,1.0,NaN,72
4,s323,TV Show,Afronta! Facing It!,Juliana Vicente,"Loo Nascimento, Ingrid Silva, Rincon Sapiência...",Brazil,"October 31, 2020",2017,TV-PG,1 Season,"Docuseries, International TV Shows",This docuseries spotlights Afro-Brazilian thin...,2020-10-31,1.604102e+18,October 31,2020,2.0,NaN,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7618,s7727,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art...",2016-07-01,1.467331e+18,July 1,2016,2.0,NaN,1
7619,s7751,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,2018-05-01,1.525133e+18,May 1,2018,2.0,NaN,1
7620,s7760,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,2018-09-13,1.536797e+18,September 13,2018,1.0,NaN,1
7621,s7771,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,2016-03-09,1.457482e+18,March 9,2016,3.0,NaN,1
7622,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1.603066e+18,October 19,2020,2.0,NaN,1

In [96]:
pivot_table = netflix.pivot_table(index='country', columns='type', values='title', aggfunc='count', fill_value=0).reset_index()

In [97]:
pivot_table

type                                            country  Movie  TV Show
0                                             Argentina     34       16
1     Argentina, Brazil, France, Poland, Germany, De...      1        0
2                                      Argentina, Chile      1        0
3                                Argentina, Chile, Peru      1        0
4                                     Argentina, France      1        0
..                                                  ...    ...      ...
676                                           Venezuela      1        0
677                                 Venezuela, Colombia      1        0
678                                             Vietnam      5        0
679                                        West Germany      1        0
680                                            Zimbabwe      1        0

[681 rows x 3 columns]